body{
    background:linear-gradient(45deg, hsl(0, 0%, 0%),hsl(0, 0%, 4%));
    background-image: url(assests/bg.jpg);
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

   
}
#calculator{
   background:transparent;
   width: 360px;
   height: 80vh;
   font-family: Verdana, sans-serif;
   overflow: hidden;
   border-radius: 16px;
   box-shadow: -3px -3px 15px rgba(59, 71, 61, 0.9);
   
   
  
}
input{
    width: 300px;
    height: 12vh;
    margin: 20px;
    padding: 10px;
    text-align: right;
    border: none;
    box-shadow: 3px 3px 15px rgba(59, 71, 61, 0.9);
    color:hsl(0, 0%, 3%);
    font-size: 2rem;
    border-radius: 16px;
    cursor: pointer;
    background: transparent;

}
#btn{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
  
}
button{
    width: 50px;
    height: 50px;
   
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    background:transparent;
    border: none;
    box-shadow: 8px 8px 15px rgba(27, 35, 34, 0.5);
    color: hsl(120, 2%, 8%);
    cursor: pointer;
}
.operator{
    color: rgb(3, 57, 26);
}
.eql_btn{
    background-color:rgba(10, 162, 170, 0.901) ;
}
button:hover{
    background-color:rgba(4, 132, 19,0.3) ;
}
button:active{
    background-color:rgba(4, 132, 19,0.5) ;
}
input::placeholder{
    color: hsl(0, 0%, 3%);
    margin: 10px;
}
